body {
    background-color: #800080;
    color: #fff;

}

.features p {
    margin: 10px;
    padding: 10px;
}

aside {
    float: left;
    background-color: violet;
    width: 20%;
    padding: 2.5%;
    height: 100rem;
    color: #fff;
    border-right: 5px solid #551C54;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    size: 10px;
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 10px;
    font-size: 28px;
}

aside ul {list-style: None}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 10px;
    transition: transform .6s ease;
}

aside ul i {
    margin-right: 5px;
}

aside ul li:hover, aside ul a:hover {
    color: #551C54;
    text-decoration: none;
    transform: scale(1.05)
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 80%;
}

main .features h1 {font-size: 60px;}
main .features p {
    margin: 20px auto;
}

div .alert-warning {
    margin: 10px;
}

form {
    margin: 20px;
}

a {
    text-decoration: none;
}

a div {
    transition: background-color .6s ease;
}

a div:hover {
    background-color: #c9b57a;
}
